@import url(./__container/comments__container.css);

.comments {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

@media (min-width: 1024px) {
    .comments {
        padding-bottom: 6rem;
    }
}
