@import url(./__title/description__title.css);
@import url(./__subtitle/description__subtitle.css);
@import url(./__paragraph/description__praragraph.css);
@import url(./__list/description__list.css);
@import url(./__list-item/description__list-item.css);
@import url(./__list-item-accent/description__list-item-accent.css);

.description {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}
