.page {
    max-width: 1600px;
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    color: #fff;
    display: grid;
}
