.places {
    display: flex;
    flex-direction: column;
    padding-bottom: 4.5625rem;
    align-items: center;
}

 @media (min-width: 768px) {
    .places {
        padding-bottom: 6.25rem;
    }
 }

 @media (min-width: 1024px) {
    .places {
        width: calc(928px + 58 * ((100vw - 1024px) / 256));
        max-width: 986px;
        margin: 0 auto;
    }
 }
