.video__duration {
    font-style: normal;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1.08rem;
    letter-spacing: 0.3em;
    position: absolute;
    left: 1rem;
    top: 6.625rem;
    margin: 0;
}
