.intro__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: .8rem;
    line-height: 1.5555;
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
    .intro__list {
        width: 23.94rem;
        margin-right: auto;
        font-size: .8rem;
    }
}
