.two-columns__image {
    flex-direction: column;
}

@media screen and (min-width: 426px ) and (max-width: 767px) {

    .two-columns__image {
        margin: 0 auto;
    }
    
  }

@media screen and (min-width: 768px ) and (max-width: 1023px) {

    .two-columns__image {
        width: calc(340px + 100 * ((100vw - 768px) / 255));
        min-width: 340px;
        max-width: 440px;
        margin-right: 1.875rem;
    }
    
  }

  @media screen and (min-width: 1024px) {

    .two-columns__image {
        width: calc(440px + 20 * ((100vw - 1024px) / 256));
        min-width: 440px;
        max-width: 460px;
        margin-right: 1.875rem;
    }
    
  }
  