.intro__content-row {
    display: flex;
    flex-direction: column;
    margin: 0;
}

  @media (min-width: 768px ) and (max-width: 1023px) {
    
    .intro__content-row {
        width: 93.75%;
        max-width: 58rem;
        margin: 0 auto;
    }

  }

  @media (min-width: 1024px) {
    
    .intro__content-row {
        width: 42.6875rem;
        margin-left: calc(48px + 180 * ((100vw - 1024px) / 416));
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

  }
