.intro__content-row {
    display: flex;
    flex-direction: column;
    margin: 0;
}

  @media screen and (min-width: 1024px) {
    
    .intro__content-row {
        width: 42.6875rem;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

  }
