.lead__title {
    margin: 3.133rem auto 0.5rem;
    font-style: normal;
    font-weight: 900;
    font-size: calc(40px + 12 * ((100vw - 320px) / 105));
    line-height: 1.1;
    min-height: 6rem;
    text-align: center;
}

@media (min-width: 426px ) and (max-width: 767px) {

    .lead__title {
        width: calc(100% - 3rem);
        font-size: calc(54px + 40 * ((100vw - 426px) / 341));
    }

  }

  @media (min-width: 768px ) and (max-width: 1023px) {
    
    .lead__title {
        margin: 3rem auto 3rem;
        width: 93.75%;
        max-width: 58rem;
        font-size: 6rem;
        line-height: 0.96875;
    }

  }

  @media (min-width: 1024px) {
    
    .lead__title {
        margin: 3rem auto 3rem;
        width: calc(928px - 146 * ((100vw - 1024px) / 256));
        min-width: 48.875rem;
        font-size: 6rem;
    }

  }
