@import url(./__quote/comment__quote.css);
@import url(./__image/comment__image.css);
@import url(./__author/comment__author.css);

.comment {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-bottom: 3rem;
}

@media (min-width: 1024px) {
    .comment {
        width: 28.91%;
        max-width: 23.875rem;
        margin-right: 1rem;
        align-self: flex-start;
    }

    .comment:last-of-type {
        margin-right: 0;
    }
}
