/*
  WRAPPER
  A utility with a max width that contains child elements and horizontal centers them
*/

.wrapper {
    width: calc(100% - 2rem);
    max-width: 74rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
