.lead__subtitle {
    margin: 0 0 2rem;
    font-size: calc(16px + 7 * ((100vw - 320px) / 105));
    line-height: 1.4;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    min-height: 3rem;
}

@media screen and (min-width: 426px ) {

    .lead__subtitle {
      margin-bottom: 4.1875rem;
    }
  
  }

@media screen and (min-width: 426px ) and (max-width: 767px) {

    .lead__subtitle {
        font-size: calc(24px + 5 * ((100vw - 426px) / 341));
    }

  }

  @media screen and (min-width: 768px ) {

    .lead__subtitle {
      font-size: 1.875rem;
      line-height: 1.2;
    }

  }

  @media screen and (min-width: 768px ) and (max-width: 1023px) {
    
    .lead__subtitle {
        width: 93.75%;
        max-width: 58rem;
    }

  }

  @media screen and (min-width: 1024px) {
    
    .lead__subtitle {
        width: calc(928px - 345 * ((100vw - 1024px) / 256));
        min-width: 583px;
        margin-left: auto;
        margin-right: auto;
    }

  }
