@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    width: 100%;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
