@import url(./__title/two-columns__title.css);
@import url(./__url/two-columns__url.css);
@import url(./__image/two-columns__image.css);
@import url(./__main-text/two-columns__main-text.css);

.two-columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 768px ) {

    .two-columns {
        flex-direction: row;
    }
    
  }
  