.header__container-link {
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-size: 1.5rem;
    line-height: .8;
}

.header__container-link:focus {
    text-decoration-line: underline;
}