@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/wrapper/wrapper.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/content-title/content-title.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/new-hampshire/new-hapmshire.css);
@import url(../blocks/new-york/new-york.css);
@import url(../blocks/erie-pa/erie-pa.css);
@import url(../blocks/ohio/ohio.css);
@import url(../blocks/content-subtitle/content-subtitle.css);
@import url(../blocks/__video/video.css);
@import url(../blocks/comments/comments.css);
@import url(../blocks/comment/comment.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover-bg/cover-bg.css);
@import url(../blocks/image/image.css);
@import url(../blocks/footer/footer.css);

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Inter-Regular.woff2) format("woff2"),
         url(../fonts/Inter-Regular.woff) format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/Inter-Black.woff2) format("woff2"),
         url(../fonts/Inter-Black.woff) format("woff");
  }
