.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
    width: calc(100% - 2rem);
    margin: 0 auto -67px ;
    align-self: flex-end;
    min-height: 80px;
}

@media (min-width: 426px) and (max-width: 767px) {

    .cover__title {
        font-size: calc(32px + 39 * ((100vw - 426px) / 341));
        width: calc(100% - 3rem);
    }

}

@media (min-width: 768px) {

    .cover__title {
        font-size: 4.5rem;
    }

}

@media (min-width: 102px) {

    .cover__title {
        width: 60.375rem;
        max-width: 68.375rem;
    }

}
