.lead__figure {
    margin: 0;
    width: calc(100% + 32px);
    overflow: hidden;
}

@media (min-width: 768px ) and (max-width: 1023px) {
    
    .lead__figure {
        width: 100%;
    }

  }

  @media (min-width: 1024px) {
    
    .lead__figure {
        max-width: 61.5rem;
    }

  }
  