@import url(./__copyright/footer__copyright.css);

.footer {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    margin: 0;
}

  @media screen and (min-width: 768px ) {
    
    .footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 6rem;
        margin: 0 auto;
    }

  }
