.place__url {
    display: none;
}

/* .place__url {
    width: 100%;
    min-height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.875;
    text-decoration-line: underline;
    color: #fff;
    margin: 0 0 3.75rem;
} */
