.place__url {
    display: none;
    min-height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.875;
    text-decoration-line: underline;
    color: #fff;
    margin: 0 0 3.75rem;
}

@media (min-width: 768px ) {

        .place__url {
            display: block;
            margin-bottom: 5.22rem;
        }

  }
