.intro__title {
    margin: 0 0 2.8rem;
    font-weight: 900;
    font-size: 2rem;
    font-style: normal;
    line-height: 1.1;
}

@media screen and (min-width: 426px ) and (max-width: 767px) {
    .intro__title {
        font-size: calc(32px + 21 * ((100vw - 426px) / 341));
    }

  }

  @media screen and (min-width: 768px ) {
    
    .intro__title {
        font-size: 3.375rem;
        line-height: 1.09;
    }

  }

  @media screen and (min-width: 768px ) and (max-width: 1023px) {
    
    .intro__title {
        margin: 0 auto 3rem;
    }

  }

  @media screen and (min-width: 1024px) {
    
    .intro__title {
      width: calc(928px - 245 * ((100vw - 1024px) / 256));
      min-width: 683px;
    }

} 

